<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coffee Pickles</title>
    <link type="text/css" href="/dashboard.css" rel="stylesheet">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script th:inline="javascript">
        //load the virtualization API
        google.charts.load('current',{'packages':['corechart']});

        //set a callback to run when the API is loaded
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            $.ajax({
                url: "/coffeedates/" + /*[[${user.getUserName()}]]*/ 'User Name',
                dataType: "json"
            }).done(function(jsonData)  {
                var data = new google.visualization.DataTable();
                data.addColumn('date', 'Date');
                data.addColumn('number', 'Coffees');
                for (var key in jsonData) {
                    val = jsonData[key];
                    date = key.split('/');
                    data.addRow([
                        new Date(date[2], date[1] - 1, date[0]),
                        parseInt(val)
                    ]);
                }
                data.sort([{column: 0}]);
                var chart = new google.visualization.LineChart(document.getElementById('line_chart_div'));
                chart.draw(data, {width: 800, height: 450, curveType: 'function'});
            }).fail(function() {
                google.visualization.errors.addError(document.getElementById('line_chart_div'),
                    "Failed to add data to the chart");
            });
        }

    </script>
    <script th:inline="javascript">
        //load the virtualization API
        google.charts.load('current',{'packages':['corechart']});

        //set a callback to run when the API is loaded
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            $.ajax({
                url: "/coffeedays/" + /*[[${user.getUserName()}]]*/ 'User Name' ,
                dataType: "json"
            }).done(function(jsonData) {

                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Day');
                data.addColumn('number', 'Coffees');
                for (var key in jsonData) {
                    val = jsonData[key];
                    data.addRow([
                        key,
                        parseInt(val)
                    ]);
                }
                var chart = new google.visualization.BarChart(document.getElementById('day_chart_div'));
                chart.draw(data, {width: 800, height: 450, bar: {groupWidth: "50%"}});
            }).fail(function() {
                google.visualization.errors.addError(document.getElementById('day_chart_div'),
                    "Failed to add data to the chart");
            });
        }

    </script>
</head>
<body>
    <div layout:fragment="content">

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Coffee Pickles</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Dashboard</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a th:text="| Logged in as ${user.getUserName()}|"></a></li>
                    </ul>
                    <form class="navbar-form navbar-right" action="#" th:action="@{/coffee}" method="post">
                        <input type="submit" value="Coffee!" class="btn btn-danger">
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a th:text="|Current balance: $${user.getBalance()}|"></a> </li>
                        <li><a th:text="|All-time coffees: ${user.getNumCoffees()}|"></a></li>
                    </ul>
                </div>
            </div>
        </nav>



        <div class="container-fluid">
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <h1 class="page-header">Dashboard</h1>
                    <div class="flash info" th:if="${message} != null" th:text="${message}" />

                    <div class="row placeholders">
                        <div class="col-md-6 placeholder" id="line_chart_div">
                            <h4>Label</h4>
                            <span class="text-muted">Something else</span>
                        </div>
                        <div class="col-md-6 placeholder" id="day_chart_div">
                            <h4>Label</h4>
                            <span class="text-muted">Something else</span>
                        </div>
                    </div>

                    <div class="table-responsive col-md-9">
                        <h2 class="sub-header">Recent payments</h2>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Amount</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="pay : ${user.getRecentPayments()}">
                            <tr>
                                <td th:text="| ${pay.getDate()}|"/>
                                <td th:text="| $${pay.getAmount()}|"/>
                            </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-3">
                        <h2 class="sub-header">Create payment</h2>
                        <form class="form-horizontal" action="#" th:action="@{/payment}" th:object="${payment}" method="post">
                            <div class="form-group">
                                <label for="amount" class="col-sm-2 control-label">Amount:</label>
                                <div class="col-sm-10">
                                    <input type="text" th:field="*{amount}" class="form-control" id="amount">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <input type="submit" value="Pay" class="form-control btn btn-default">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
<!--/*@thymesVar id="user" type="Customer"*/-->
<!--/*@thymesVar id="payment" type="Payment"*/-->