<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="ut8">
    <title>Coffee Pickles</title>
    <link type="text/css" href="/main.css" rel="stylesheet">
    <link type="text/css" href="/normalize.css" rel="stylesheet">
</head>
<body>
<header>
    <hgroup>
        <h1><a href="/"><span class="blue">Coffee Pickles</span></a></h1>
    </hgroup>
</header>

<div id="main">
    <div layout:fragment="content">
        Page content goes here
    </div>
</div>

<footer>
    <p><small>Available on <a href="https://github.com/jockey10/coffee-pickles/">Github</small></p>
</footer>
</body>
</html>
